{% extends "ui/base.html" %}

{% from "ui/partial/selectform.html" import render_selectform %}

{% block page_header %}Add Member{% endblock %}

{% set previous_page = url_for('manager.organization_detail', organization_id=organization_id) %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{{ previous_page }}">Manage Organization</a>
</li>
<li class="breadcrumb-item active">Add Member</li>
{% endblock %}

{% block content %}
<div class="box">
  {{ render_selectform(form, cancel_link=previous_page) }}
</div>
{% endblock %}
