{% extends "ui/base.html" %}
{% from "ui/partial/tableaction.html" import render_member_row_actions with context %}

{% block page_header %}Manage {{ organization.name }}{% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item active">Manage Organization</li>{% endblock %}

{% block content %}

<div class="table-container">
  <div class="row">
    <div class="col-xs-8">
      <h3>Members</h3>
    </div>
    <div class="col-xs-4">
      <div class="table-actions">
        <a
          href="{{ url_for('manager.member_create', organization_id=organization.id) }}"
          class="btn btn-primary btn-sm"
        >
          Add Member
        </a>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">E-mail</th>
      <th class="col-md-2">Role</th>
      <th class="col-md-4">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td class="col-md-3">{{ member.username }}</td>
          <td class="col-md-3">{{ member.email }}</td>
          <td class="col-md-2">{{ member.role }}</td>
          <td class="col-md-4">{{ member.created_at }}</td>
          <td class="status_column"><i class="mdi {{ member.state|user_status_icon_class }}" title="{{ member.state }}"></i></td>
          <td class="action_column">
            {% set reinvite_url = url_for('ui.user_reinvite', user_id=member.id) %}
            {% set change_role_url = url_for('manager.member_change_role', organization_id=organization.id, user_id=member.id) %}
            {% set delete_url = url_for('ui.user_delete', user_id=member.id) %}
            {% if not member.active %}
            <a href="{{ reinvite_url }}" title="Resend invitation">
              <i class="mdi mdi-email-alert"></i>
            </a>
            {% endif %}
            <a href="{{ change_role_url }}" title="Change member role">
              <i class="mdi mdi-account-edit"></i>
            </a>
            <a
              data-target="{{ delete_url }}"
              data-name="member {{ member.username }}"
              class="confirm-delete"
              title="Delete member"
            >
              <i class="mdi mdi-delete-forever"></i>
            </a>
          </td>
        </tr>
      {% else %}
        <tr class="not-event-pointer"><td colspan="6" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
