{% extends "ui/base.html" %}

{% block page_header %}Overview{% endblock %}

{% block content %}

<div class="table-container">
  <div class="row">
    <div class="col-xs-8">
      <h3>Organizations</h3>
    </div>
    <div class="col-xs-4">
      <div class="table-actions">
        <a
          href="{{ url_for('manager.organization_create') }}"
          role="button"
          class="btn btn-primary btn-sm"
        >
          Create Organization
        </a>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <th class="col-md">Name</th>
      <th class="col-md">Created</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for organization in organizations %}
        <tr>
          <td class="col-md">
             <a href="{{ url_for('manager.organization_detail', organization_id=organization.id) }}">
               {{ organization.name }}
             </a>
          </td>
          <td class="col-md">{{ organization.created_at }}</td>
          <td class="action_column">
            {% set detail_url = url_for('manager.organization_detail', organization_id=organization.id) %}
            {% set delete_url = url_for('manager.organization_delete', organization_id=organization.id) %}
            <a href="{{ detail_url }}" title="Organization detail">
              <i class="mdi mdi-file-document-box"></i>
            </a>
            <a
              class="confirm-delete"
              data-target="{{ delete_url }}"
              data-name="{{ organization.name }}"
              title="Delete organization"
            >
              <i class="mdi mdi-delete-forever"></i>
            </a>
          </td>
        </tr>
      {% else %}
        <tr class="not-event-pointer"><td colspan="4" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>
  Clusters
  <a id="refreshClusters" class="clickable disabled" title="Refresh Table">
    <i class="mdi mdi-refresh"></i>
  </a>
</h3>

<div class="table-container no-actions" id="clustersTable">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">Organization</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-2">Provisioner</th>
      <th class="col-md-4">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      <tr class="not-event-pointer">
        <td colspan="6" class="text-center">
          <div class="icon-container">
            <div class="loading-icon"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3>
  Provisioners
  <a id="refreshProvisioners" class="clickable disabled" title="Refresh Table">
    <i class="mdi mdi-refresh"></i>
  </a>
</h3>

<div class="table-container no-actions" id="provisionersTable">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">Organization</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Engine</th>
      <th class="col-md-3">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      <tr class="not-event-pointer">
        <td colspan="6" class="text-center">
          <div class="icon-container">
            <div class="loading-icon"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block extrajs %}
<script>
  var queryParams = {
    cluster_page: 1, provisioner_page: 1,
    sort_clusters_by: 'created', clusters_order: 'asc',
    sort_provisioners_by: 'created', provisioners_order: 'asc',
    ...getQueryParameters()
  };

  function updatePageParam(targetName, value) {
    queryParams[`${targetName}_page`] = value;
    loadPage(targetName);
  }

  function updateFilterParam(targetName, params) {
    queryParams = {...queryParams, ...params, [`${targetName}_page`]: 1};
    loadPage(targetName);
  }

  function updateSortingParam(targetName, value, order) {
    queryParams = {
      ...queryParams,
      [`sort_${targetName}s_by`]: value,
      [`${targetName}s_order`]: order
    };
    loadPage(targetName);
  }

  var pageLoadOptions = {
    cluster: {
      refreshButton: '#refreshClusters',
      targetToUpdate: '#clustersTable',
      urlPrefix: '/manager/data/clusters/page/',
      pageParamKey: 'cluster_page',
      filtersParamKeys: ['cluster_name', 'cluster_provisioner'],
      sortingParamKey: 'sort_clusters_by',
      sortingParamOrder: 'clusters_order'
    },
    provisioner: {
      refreshButton: '#refreshProvisioners',
      targetToUpdate: '#provisionersTable',
      urlPrefix: '/manager/data/provisioners/page/',
      pageParamKey: 'provisioner_page',
      filtersParamKeys: ['provisioner_name', 'provisioner_engine'],
      sortingParamKey: 'sort_provisioners_by',
      sortingParamOrder: 'provisioners_order'
    }
  }

  function setUpFilters() {
    $(document).on('click', '.filter-button', function(e) {
      e.preventDefault();

      // Get and apply filter values
      var filterForm = $(this).parents('.filter-form');
      var data = filterForm.serializeArray().reduce((obj, item) => (
        {...obj, [item.name]: item.value}
      ), {});
      updateFilterParam(filterForm.attr('name').split('_')[0], data);
    });
  };

  function handleError(tableSelector, errorDetails) {
    var error = `
      <tbody>
        <tr>
          <td colspan='6' class='text-center' title='${errorDetails}'>
            <i class='mdi mdi-alert-circle-outline'></i>
            Error occurred while loading the content
          </td>
        </tr>
      </tbody>
    `;
    $(tableSelector + ' table').addClass('table-error');
    $(tableSelector + ' table').removeClass('updating');
    $(tableSelector + ' tbody').replaceWith(error);
  }

  function loadPage(target) {
    setQueryParameters(queryParams);
    $(`a.bulk-delete-${target}s`).addClass('hidden');

    var options = pageLoadOptions[target];
    if (!options) {
      return;
    }
    var {urlPrefix, targetToUpdate, pageParamKey, filtersParamKeys, refreshButton,
         sortingParamKey, sortingParamOrder} = options;

    $(targetToUpdate + ' table').addClass('updating');

    var additionalQueryString = serializeToQueryString(
      filtersParamKeys.concat([sortingParamKey, sortingParamOrder]).reduce(
        (result, filterKey) => ({...result, [filterKey]: queryParams[filterKey]}), {}
      )
    );
    var url = urlPrefix + queryParams[pageParamKey] + additionalQueryString;

    $(refreshButton).addClass('disabled');
    $.get(url, function(data) {
      if (data.response === 200) {
        $(targetToUpdate).replaceWith(data.body);
        if (data.allowClusterDeploy) {
          $('#clusterCreateButton').removeClass('disabled');
        } else {
          $('#clusterCreateButton').addClass('disabled');
        }
      } else {
        handleError(targetToUpdate, data.body);
      }
    }).fail(function() {
      handleError(targetToUpdate, 'Unexpected error occurred');
    }).always(function() {
      $(refreshButton).removeClass('disabled');
      handleFilterView(filtersParamKeys, queryParams);
      handleSortingView(target, sortingParamKey, sortingParamOrder, queryParams);
    });
  }

  $(document).ready(function() {
    $('#refreshClusters').click(function() {
      loadPage('cluster');
    }).click();
    $('#refreshProvisioners').click(function() {
      loadPage('provisioner');
    }).click();

    handlePopoverDisplaying();
    setUpFilters();
    setUpSorting();
  });
</script>
{% endblock %}
