{% from "ui/partial/tableaction.html" import render_cluster_row_actions with context %}

{% macro render_cluster_row(cluster, index) %}
        {% set is_in_progress = cluster.state in config.CLUSTER_TRANSIENT_STATES %}
        {% set not_authorized = not is_authorized(session, 'cluster:delete', cluster) %}
        {% set cant_delete = cluster.state == config.CLUSTER_PROVISIONING_STATE or not_authorized %}
        <tr
          class="clickable{% if is_in_progress %} in-transition{% endif %}"
          data-index="{{ index }}"
          data-status="{{ cluster.state }}"
          data-href="{{ url_for('ui.cluster_detail', cluster_id=cluster.id) }}"
        >
          <td class="checkboxes_column">
            <input
              type="checkbox"
              id="select-cluster-{{ cluster.id }}"
              {% if cant_delete %}disabled{% endif %}
              class="select-cluster"
              name="{{ cluster.id }}"
              value="{{ cluster.name }}"
            />
            <label
              for="select-cluster-{{ cluster.id }}"
              {% if cant_delete %}class="disabled-wrapper"{% endif %}
            >
              <i class="mdi checkbox-row{% if cant_delete %} disabled{% endif %}"></i>
            </label>
          </td>
          <td class="name_column clickable-cluster-name">
            {% if is_authorized(session, 'cluster:get', cluster) %}
            <div class="cluster-name">
              <a href="{{ url_for('ui.cluster_detail', cluster_id=cluster.id) }}">
                {{ cluster.name }}
              </a>
            </div>
            {% else %}
            {{ cluster.name }}
            {% endif %}
          </td>
          <td class="provisioner_column">{{ cluster.provisioner.name }}</td>
          <td class="created_column">{{ cluster.created_at }}</td>
          <td class="status_column">
            {{ cluster.state|cluster_status_icon|safe }}
          </td>
          <td class="action_column">
            {% if cluster.metadata %}
            <a
              data-toggle="collapse"
              data-target="#cluster-{{ index }}"
              class="clickable"
              title="More information"
            >
              <i class="mdi mdi-information-outline"></i>
            </a>
            {% endif %}
            {{ render_cluster_row_actions(cluster) }}
          </td>
        </tr>
        {% if cluster.metadata %}
        <tr id="metadata-cluster-{{ index }}">
          <td colspan="5" class="meta-params">
            <div id="cluster-{{ index }}" class="collapse">
              <table class="table table-hover no-actions" id="table-clustermeta">
                <tbody>
                  {% for key, value in cluster.metadata.items() %}
                  <tr>
                    <th>{{ key }}</th>
                    <td>{{ value|urlize(40, target="_blank") }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
{% endmacro %}
