{% macro render_helm_tab(cluster_id, status) %}
{% if status.tiller == -1 %}
<div class="text-center">
  <a href="" class="btn btn-primary btn-lg" id="enableHelm">Enable Helm</a>
</div>
{% elif status.tiller == 0 %}
<div class="text-center">
  <div class="progress" style="margin: 22px 0px 22px 0px;">
    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 100%;"></div>
  </div>
</div>
{% elif status.tiller >= 1 %}
<h3>Installed Releases</h3>
<div class="table-container">
  <table class="table table-hover no-actions">
    <thead>
      <tr>
        <th>Name</th>
        <th>Revision</th>
        <th>Updated</th>
        <th>Status</th>
        <th>Chart</th>
        <th>Namespace</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for release in status.helm.list %}
      <tr>
        <td>{{ release.name }}</td>
        <td>{{ release.revision }}</td>
        <td>{{ release.updated }}</td>
        <td>{{ release.status }}</td>
        <td>{{ release.chart }}</td>
        <td>{{ release.namespace }}</td>
        <td class="action_column">
          <a href="{{ url_for('ui.cluster_helm_delete', cluster_id=cluster_id, name=release.name) }}">
            <i class="mdi mdi-delete-forever"></i>
          </a>
        </td>
      </tr>
      {% else %}
      <tr style="pointer-events: none;"><td colspan="6" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>Helm Charts</h3>
<div class="filter-box clearfix">
  <div id="filters" class="btn-group btn-group-sm" role="group">
    {% set tags = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
    {% for tag in tags %}
    <a class="btn btn-default" data-filter=".{{ tag }}">{{ tag }}</a>
    {% endfor %}
    <a class="btn btn-default" data-filter="*">All</a>
  </div>
</div>
<div class="grid clearfix">
  {% for chart in status.helm.catalog %}
  <a href="{{ url_for('ui.cluster_helm_create', cluster_id=cluster_id, name='stable/' + chart.name) }}" class="addon-item {{ chart.tag }} async-modal" data-category="{{ chart.tag }}">
    <div class="item-icon" style="background-image: url('{{ chart.icon }}');"></div>
    <div class="item-label">
      <span>{{ chart.name }}</span>
    </div>
  </a>
  {% endfor %}
</div>

<div id="asyncModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #333;">&times;</button>
        <h4 class="modal-title">Install Chart</h4>
      </div>
      <div class="modal-body">
        <p>Loading...</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
