{% from "ui/partial/_cluster_row.html" import render_cluster_row with context %}
{% from "ui/partial/pagination.html" import render_pagination with context %}
{% from "ui/partial/_column_filter.html" import render_column_filter with context %}

{% macro render_cluster_table(clusters, pages_total, current_page) %}
  <div id="clustersTable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            {% if clusters %}
              <input type="checkbox" class="select-all-clusters" id="select-all-clusters" />
              <label for="select-all-clusters"><i class="mdi checkbox-all"></i></label>
            {% endif %}
          </th>
          <th class="col-md-4 filterable-column">
            {{ render_column_filter("Name", "cluster_name") }}
          </th>
          <th class="col-md-4 filterable-column">
            {{ render_column_filter("Provisioner", "cluster_provisioner") }}
          </th>
          <th class="col-md-4">Created</th>
          <th class="status_column">Status</th>
          <th class="action_column">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for cluster in clusters %}
          {{ render_cluster_row(cluster, loop.index) }}
        {% else %}
          <tr class="not-event-pointer"><td colspan="5" class="text-center">No Items</td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% if pages_total > 1 %}
      {{ render_pagination("cluster", current_page, pages_total, "Clusters") }}
    {% endif %}
  </div>

  <script>
    handleClusterDelete();
  </script>
{% endmacro %}

{{ render_cluster_table(clusters, cluster_pages, current_cluster_page) }}
