{% macro render_pagination(targetName, current_page, pages_total, label) %}
  <div class="row pagination-row">
    <nav aria-label="{{ label }} navigation">
      <ul class="pagination">
        <li>
          <a
            {% if current_page == 1 %}class="disabled"{% endif %}
            onClick="updatePageParam('{{ targetName }}', '{{ current_page - 1 }}')"
          >
            <i class="mdi mdi-menu-left"></i><span>Previous</span>
          </a>
        </li>
        {# Leave only the first 2 pages, the last 2, and 4 neighbours of the current page #}
        {% set displayed_ranges = form_page_ranges(current_page, pages_total) %}

        {% for page_range in displayed_ranges %}
          {% if not loop.first %}
            <li><a class="disabled">...</a></li>
          {% endif %}
          {% for page in page_range %}
            <li {% if current_page == page %}class="active"{% endif %}>
              <a onClick="updatePageParam('{{ targetName }}', '{{ page }}')">
                {{ page }}
              </a>
            </li>
          {% endfor %}
        {% endfor %}
        <li>
          <a
            {% if current_page == pages_total %}class="disabled"{% endif %}
            onClick="updatePageParam('{{ targetName }}', '{{ current_page + 1 }}')"
          >
            <span>Next</span><i class="mdi mdi-menu-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endmacro %}
