{% macro render_selectform(form, action='') %}
<form id="switchableForm" method="post" action="{{ action }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% set tagged_fields = [] %}
    {% set switch_fields = [] %}
    {% for field in form %}
      {% if not field.flags.hidden %}
        {% if field|attr('switchtag') %}
          {% set _do = tagged_fields.append(field) %}
          {{ render_switchable_field(field) }}
        {% else %}
          {{ render_field(field) }}
        {% endif %}
        {% if field|attr('switch') %}
          {% set _do = switch_fields.append(field) %}
        {% endif %}
      {% endif %}
    {% endfor %}
    <input type="button" name='cancel' value="Cancel" class="btn btn-default btn-sm"  onclick="window.location.href='{{ url_for('ui.index') }}';">
    <input type="submit" name='submit' value="Submit" class="btn btn-primary btn-sm">
</form>
{% if switch_fields|length > 0 %}
<script>
document.addEventListener("DOMContentLoaded", function() {
{% for field in switch_fields %}
  selectSwitch('select#{{ field.id }}');
{% endfor %}
});
</script>
{% endif %}
{% if tagged_fields|length > 0 %}
<script>
function validateJsonFileField(value, element, requiredKeys) {
  var file = element.files[0]
  , reader = new FileReader()
  , valid = false
  ;

  reader.onload = function(evt) {
    var data = evt.target.result;
    var json = 'error';
    var message = 'Validation pending'
    try {
      json = JSON.parse(data);
    } catch(err) {
      message = 'Not a valid JSON'
      console.log(err);
    }
    if (json != 'error') {
      var missingKeys = [];
      var countKeys = 0;
      requiredKeys.forEach(function(key) {
        contains = Object.keys(json).indexOf(key) != -1;
        if ( contains ) {
          countKeys++;
        } else {
          missingKeys.push(key);
        }
      });
      if ( countKeys != requiredKeys.length ) {
        message = 'Missing mandatory keys: ' + missingKeys.toString();
      }
      valid = true;
    } else {
      valid = false;
    }
    var validator = $("#switchableForm").data().validator
    if ( valid ) {
        var submitted = validator.formSubmitted;
        validator.resetInternals();
        validator.toHide = validator.errorsFor( element );
        validator.formSubmitted = submitted;
        validator.successList.push( element );
        validator.invalid[ element.name ] = false;
        validator.showErrors();
    } else {
        errors = {};
        errors[ element.name ] =  message;
        validator.invalid[ element.name ] = true;
        validator.showErrors( errors );
    }
    validator.stopRequest( element, valid );
  };
  reader.readAsText(file)

  return "pending";
}

document.addEventListener("DOMContentLoaded", function() {
  $.validator.addMethod("jsonfile", validateJsonFileField, $.validator.format("Test validation"));

  $("#switchableForm").validate({
    rules: {
      {%- for field in tagged_fields %}
      "{{ field.id }}": {{ field.jsvalidators|tojson|safe }},
      {%- endfor %}
    },
    invalidHandler: function(event, validator) {
      var $submits = $(this).find('input[type=submit]')
       ,  errors = validator.numberOfInvalids()
       ;
      setTimeout(function() {
        $submits.each(function() {
          if (errors) {
            $(this).prop('disabled', false);
            $(this).removeClass('disabled');
          }
        });
      }, 1);
    }
  });
});

</script>
{% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <span class="help-block">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_switchable_field(field) %}
  <div class="form-group{% if field.errors %} has-error{% endif %} hidden" data-switchtag="{{ field.switchtag }}">
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <span class="help-block">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}
