{% macro render_selectform(form, action='') %}
<form id="switchableForm" method="post" action="{{ action }}" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  {% set tagged_fields = [] %}
  {% set switch_fields = [] %}
  {% for field in form %}
    {% if not field.flags.hidden %}
      {% if field|attr('switchtag') %}
        {% set _do = tagged_fields.append(field) %}
        {{ render_switchable_field(field) }}
      {% else %}
        {{ render_field(field) }}
      {% endif %}
      {% if field|attr('switch') %}
        {% set _do = switch_fields.append(field) %}
      {% endif %}
    {% endif %}
  {% endfor %}
  <button
    type="button"
    name="cancel"
    class="btn btn-default btn-sm"
    onclick="window.location.href='{{ url_for('ui.index') }}';"
  >
    Cancel
  </button>
  <button type="submit" name="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
{% if switch_fields|length > 0 %}
<script>
document.addEventListener("DOMContentLoaded", function() {
{% for field in switch_fields %}
  selectSwitch('select#{{ field.id }}');
{% endfor %}
});
</script>
{% endif %}
{% if tagged_fields|length > 0 %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  $.validator.addMethod("jsonfile", validateJsonFileField, $.validator.format("Test validation"));
  $.validator.addMethod("yamlfile", validateYamlFileField, $.validator.format("Test validation"));
  $.validator.addMethod(
    "cidr", validateFieldIsIpCidr, $.validator.format("Value doesn't match CIDR format."));

  $("#switchableForm").validate({
    rules: {
      {%- for field in tagged_fields %}
      "{{ field.id }}": {{ field.jsvalidators|tojson|safe }},
      {%- endfor %}
    },
    invalidHandler: function(event, validator) {
      var $submits = $(this).find('input[type=submit]'),
          errors = validator.numberOfInvalids();
      setTimeout(function() {
        $submits.each(function() {
          if (errors) {
            $(this).prop('disabled', false);
            $(this).removeClass('disabled');
          }
        });
      }, 1);
    }
  });

  // Verify if calico networking can be enabled
  var policySelect = $('.network-policy'),
      nodesCountInput = $('.gke_node_count');

  function isNotEnoughNodes(value) {
    var count = parseInt(value);
    return isNaN(count) || count < 2;
  }

  policySelect.prop('disabled', isNotEnoughNodes(nodesCountInput.val()));
  nodesCountInput.bind('keyup mouseup', function () {
    if (isNotEnoughNodes($(this).val())) {
      policySelect.prop('disabled', true);
      policySelect.val('PROVISIONER_UNSPECIFIED');
    } else {
      policySelect.prop('disabled', false);
    }
  });

  // Put selected file contents into the corresponding textarea
  $('input[type="file"].editable-data').bind('change', function () {
    var textarea = $('#' + $(this).attr('id').slice('input-'.length)),
        files = $(this).prop('files');

    if (files.length) {
      var reader = new FileReader();
      reader.onload = function(evt) {
        var data = evt.target.result;
        if (data) {
          textarea.val(data);
        }
      };
      reader.readAsText(files[0]);
    }
  });
});
</script>
{% endif %}
{% endmacro %}

{% macro render_field(field) %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {{ field(class_="form-control")|safe }}
  {% if field.errors %}
    <span class="help-block">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}

{% macro render_switchable_field(field) %}
  <div
    class="form-group {% if field.errors %}has-error{% endif %} hidden"
    data-switchtag="{{ field.switchtag }}"
  >
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    <div class="field-group">
      {{ field(class_="form-control " + (field.class_name if field.class_name else ""),
               placeholder=field.placeholder, accept=field.accept_files)|safe }}
      {% if field.checkbox_text %}
        <label for="{{ field.id }}" class="field-description">{{ field.checkbox_text }}</label>
      {% endif %}
      {% if field.read_from_file %}
        <input type="file" class="form-control editable-data" id="input-{{ field.id }}" />
      {% endif %}
    </div>
  {% if field.errors %}
    <span class="help-block">
    {% for error in field.errors %}
      {{ error }}
    {% endfor %}
    </span>
  {% endif %}
  </div>
{% endmacro %}
