{% macro render_cluster_table_actions(provisioners) %}
  {% set create_url = url_for('ui.cluster_create') %}
  {% set cant_create = not is_authorized(session, 'cluster:create') %}
  <a
    href="{{ create_url }}"
    class="btn btn-primary btn-sm{% if cant_create or not provisioners %} disabled{% endif %}"
  >
    Deploy cluster
  </a>
{% endmacro %}

{% macro render_provisioner_table_actions() %}
  {% set create_url = url_for('ui.provisioner_create') %}
  {% set cant_create = not is_authorized(session, 'provisioner:create') %}
  <a
    href="{{ create_url }}"
    class="btn btn-primary btn-sm{% if cant_create %} disabled{% endif %}"
  >
    Create provisioner
  </a>
{% endmacro %}

{% macro render_member_table_actions() %}
  {% set invite_url = url_for('ui.user_invite') %}
  {% set cant_create = not is_authorized(session, 'user:create') %}
  <a
    href="{{ invite_url }}"
    class="btn btn-primary btn-sm{% if cant_create %} disabled{% endif %}"
  >
    Invite member
  </a>
{% endmacro %}

{% macro render_member_row_actions(member) %}
  {% set reinvite_url = url_for('ui.user_reinvite', user_id=member.id) %}
  {% set cant_create = not is_authorized(session, 'user:create', member) %}
  {% set delete_url = url_for('ui.user_delete', user_id=member.id) %}
  {% set cant_delete = not is_authorized(session, 'user:delete_{}'.format(member.role.lower()), member) %}
  {% if not member.active %}
  <a
    href="{{ reinvite_url }}"
    {% if cant_create %}class="disabled"{% endif %}
    title="Resend invitation"
  >
    <i class="mdi mdi-email-alert"></i>
  </a>
  {% endif %}
  <a
    data-target="{{ delete_url }}"
    data-name="member {{ member.username }}"
    class="confirm-delete{% if cant_delete %} disabled{% endif %}"
    title="Delete member"
  >
    <i class="mdi mdi-delete-forever"></i>
  </a>
{% endmacro %}
