@import "kqueen_ui/asset/dynamic/scss/partials/variables";
@import "kqueen_ui/asset/dynamic/scss/partials/mixins";
@import "bootstrap";
@import "kqueen_ui/asset/dynamic/scss/partials/k8s_vis";

/* CSS for Blog application. */

// *****************************************************************************
// Global
// *****************************************************************************

body {
  background-size: 150px, auto;
  background-color: #f5f5f5;
  color: $base-text;
}

#content {
  margin-bottom: 50px;
}

ul.link-list {
  list-style-type: none;
  padding-left: 0px;
}

h1, h2 {
  font-weight: 700;
}

.page-header {
  padding-bottom: 8px;
  margin: 12px 0px 18px 0px;
  h2 {
    margin-top: 0px;
  }
}

.clickable {
  cursor: pointer;
}

a.disabled {
  opacity: 0.5;
  pointer-events: none !important;
}

.box {
  margin-bottom: 50px;
  @include prefix(box-shadow, 1px 1px 4px 0px rgba(187,187,187,1), webkit moz);
  background-color: #fff;
  border: 1px transparent;
  @extend .clearfix;
  @extend .well;
}

.overview-box {
  @extend .box;
  @extend .text-center;
  .btn {
    width: 100%;
    border-radius: 0px;
    border: none;
    @include prefix(box-shadow, inset 0 -1px 0 rgba(0,0,0,0.15), webkit moz);
  }
}

.overview-actions {
  margin-top: -30px;
  @extend .overview-box;
}

.overview {
  @extend .overview-box;
  min-height: 160px;
  padding: 10px;
}

.cluster-status {
  width: 80%;
  margin: 17px auto 0 auto;
  color: $mira-red-dark;
}

.pop-help {
  cursor: help; color: $brand-primary;
}

a, input[type="checkbox"] {
  cursor: pointer;
}

.popover-content {
  word-wrap: break-word;
}

.form-control {
  &::-webkit-input-placeholder {
    color: #ccc;
  }
  &:-moz-placeholder {
    color: #ccc;
  }
  &::-moz-placeholder {
    color: #ccc;
  }
}

.not-event-pointer {
  pointer-events: none;
}

div.login {
  margin-top: 20%;
  h3 {
    margin: 5px 0px;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    text-align: center;
  }
  ::-moz-placeholder {
    text-align: center;
  }
  :-ms-input-placeholder {
    text-align: center;
  }
}

div.login-footer {
  font-size: 0.9em;
}

.provisioner-pie {
  line-height: 1.1;
}

// *****************************************************************************
// Tabs
// *****************************************************************************

.nav-tabs {
  border-bottom: 0;
  li {
    margin-bottom: -2px;
    a {
      border: none;
      &:hover {
      padding: 10px 15px 8px 15px;
    }
    }
  }
  li.active {
    border: none;
  }
}

.nav-tabs > li.active > a {
  background-color: #fff;
  border: none;
  @include prefix(box-shadow, -1px -1px 4px -2px rgba(187,187,187,1), webkit moz);
  &:hover,
  &:focus,
  &:active {
    background-color: #fff;
    border: none;
  }
  &:hover {
    @include prefix(box-shadow, -1px -1px 4px -2px rgba(187,187,187,1), webkit moz);
  }
}

.tab-content {
  padding: 12px 24px;
  background-color: #fff;
  @include prefix(box-shadow, 0px 1px 4px -1px rgba(187,187,187,1), webkit moz);
  .tab-pane h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h3 {
    margin: 0;
    padding: 0;
  }
  .manage-resources {
    padding: 10px 0px;
  }
  .mdi-large {
    font-size: 18px;
  }
  .external-ip {
    position: relative;
  }
  .pvc-volume {
    padding: 0px;
    .collapse {
      margin: 8px;
    }
  }
}

// *****************************************************************************
// Navbar
// *****************************************************************************

.navbar-inverse {
  margin-bottom: 0px;
  .navbar-header {
    padding-right: 50px;
    .navbar-brand {
      padding: 0 10px;
      margin: 0;
      display: block;
      line-height: 50px;
      img {
        padding: 3px;
        display: inline-block;
        max-height: 46px;
        vertical-align: middle;
      }
      span {
        font-family: 'Exo 2';
        padding-left: 10px;
      }
    }
  }
  .navbar-nav > li > a {
    font-size: 16px;
  }
}

.navbar-nav > li .dropdown-menu {
  background-color: $mira-purple;
  border: 0px;
  border-radius: 0px;
  > .dropdown-header {
    font-size: 14px;
    color: #fff;
  }
  > li > a {
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $mira-purple-dark;
    }
  }
}

// *****************************************************************************
// Page
// *****************************************************************************

.page-header {
  border-bottom: 0;
  margin-top: 0;
}

// *****************************************************************************
// Flash Message
// *****************************************************************************

#flash-container {
  position: fixed;
  top: 25px;
  right: 0;
  z-index: 5050;
  margin: 0;
}

.alert {
  .mdi {
    font-size: 20px;
    line-height: 1;
    padding-right: 5px;
  }
  > span {
    padding-right: 10px;
  }
}

.mdi-clipboard-outline {
  font-size: 18px;
  position: absolute;
  top: -3px;
  right: 0px;
}

.close {
  margin-top: -2px;
  color: #fff;
  opacity: .4;
  &:hover,
  &:focus {
    color: #fff;
    opacity: .8;
  }
}

.alert-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;
}

.alert-info {
  background-color: $brand-info;
  border-color: $brand-info;
  color: #fff;
  > .mdi::before {
    content: "\F2FD";
  }
}

.alert-success {
  background-color: $brand-success;
  border-color: $brand-success;
  color: #fff;
  > .mdi::before {
    content: "\F134";
  }
}

.alert-warning {
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: #fff;
  > .mdi::before {
    content: "\F5D6";
  }
}

.alert-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: #fff;
  > .mdi::before {
    content: "\F15A";
  }
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

// *****************************************************************************
// Form
// *****************************************************************************

.kill-box-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.has-error .form-control:focus {
  @extend .kill-box-shadow;
}

.form-control:focus {
  @extend .kill-box-shadow;
  border-color: $brand-primary;
}

.button-form {
  display: inline-block;
}

label.error {
  @extend .help-block;
  color: $state-danger-text;
  font-weight: 400;
}

.scaleformbox {
  position: relative;
  #scaleinput {
    height: 25px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
    .form-control,
    .input-group-addon,
    .input-group-btn > .btn {
      font-size: 14px;
      padding: 2px 11px;
      height: 25px;
    }
  }
  #scalebtn {
    top: 0px;
    left: 0px;
    position: absolute;
    overflow: hidden;
  }
}

.control-label {
  display: block;
}

.field-group {
  position: relative;

  .field-description {
    font-weight: normal;
    position: absolute;
    top: 21%;
    margin-left: 7px;
    color: #666;
    cursor: pointer;
  }
}

.form-checkbox {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px 0;
  box-shadow: inset 0px 0px 0px 0px white;
}

.fieldset-table {
  margin: 15px;
  td {
    padding: 0 20px 10px 0;
  }
  th {
    color: $gray;
    label {
      font-weight: 500;
    }
  }
  textarea.form-control {
    height: 38px;
  }
}

button.add-field {
  margin-left: 10px;
}

.editable-file {
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  font-family: monospace;
  font-size: 12px;
}

// Make the browse button fit an input in FF
@-moz-document url-prefix() {
  input[type="file"] {
    padding: 2px 14px;
    height: auto;
  }
}

// *****************************************************************************
// Table
// *****************************************************************************

table {
  tbody {
    word-wrap: break-word;
  }
}

.table-container {
  .table-actions {
    padding-bottom: 24px;
    text-align: right;
  }
  .table {
    .status_column {
      width: 40px;
      .mdi {
        font-size: 22px;
        line-height: 1;
        margin-top: -2px;
        display: inline-block;
      }
      .mdi-cloud-check,
      .mdi-checkbox-marked-circle-outline {
        color: $brand-success;
      }
      .mdi-cloud-off-outline,
      .mdi-close-circle-outline {
        color: $brand-danger;
      }
      .mdi-cloud-sync {
        color: $brand-info;
      }
      .mdi-alert-outline,
      .mdi-alert-circle-outline {
        color: $brand-warning;
      }
    }
    .action_column {
      width: 90px;
      @extend .text-right;
      a {
        color: $brand-primary;
        &:hover,
        &:focus,
        &:active {
          color: darken($brand-primary, 10%);
          text-decoration: none;
        }
      }
      a.delete {
        color: $brand-danger;
        &:hover,
        &:focus,
        &:active {
          color: darken($brand-danger, 10%);
          text-decoration: none;
        }
      }
      .mdi {
        font-size: 22px;
        line-height: 1;
        margin-top: -2px;
        display: inline-block;
        cursor: pointer;
        color: $mira-gray-dark;
      }
    }
    .labels-column div {
      margin-bottom: 2px;
      .label {
        font-weight: normal;
        display: inline-block;
        word-break: break-all;
        white-space: normal;
        text-align: left;
      }
      .label-success {
        background-color: transparent;
        border: 1px solid $brand-success;
        color: $brand-success;
      }
      .label-danger {
        background-color: transparent;
        border: 1px solid $brand-danger;
        color: $brand-danger;
      }
    }
  }
  &.no-actions {
    margin-top: 20px;
  }
  p {
    @extend .text-center;
  }
  .info-table {
    th, td {
      border: none;
    }
    th {
      width: 180px;
    }
  }
  .containers {
    word-wrap: break-word;
    li {
      margin-bottom: 3px;
    }
  }
}

div:not(.tab-pane) {
  > .table-container {
    @extend .box;
  }
}

.table-center {
  text-align: center;
  th {
    text-align: center;
  }
  th, td {
    vertical-align: middle !important;
  }
}

#table-nodes {
  > thead {
    > tr {
      > th {
        vertical-align: middle;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
        ul {
          padding-left: 18px;
          margin-bottom: 0px;
        }
      }
    }
  }
}

#table-clustermeta,
#table-provisionerparams {
  > tbody > tr td {
    word-break: break-word;
  }
}

.dashboard-tab {
  .table-container {
    margin: 0;
  }
}

.driver-meta {
  cursor: help;
  color: #4bbfaf;
}

.table > tbody td.meta-params {
  padding: 0px;
  border-top: 0px;
  div.collapse {
    margin: 8px;
  }
  th {
    width: 300px;
  }
}

td.mdi-account {
  font-size: 22px;
  float: left;
  margin-right: 3px;
}

// *****************************************************************************
// Flicker on Load Fix for Glyphicons
// *****************************************************************************

.glyphicon {
  width: 14px;
  height: 14px;
}

// *****************************************************************************
// Footer
// *****************************************************************************

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 50px;
  background-color: #666;
  color: #ccc;
  padding: 14px;
  a,
  a:hover,
  a:focus,
  a:active {
    color: #fff;
  }
}

// *****************************************************************************
// Progress bar
// *****************************************************************************

.progress-bar-background {
  height: 25px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  > span {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    z-index: 3;
    font-size: 14px;
  }
}

.progress-bar-background.primary {
  background-color: lighten($brand-primary, 15%);
  > .bounce,
  > .ui-progress-bar {
    background-color: $brand-primary;
  }
}

.progress-bar-background.success {
  background-color: lighten($brand-success, 15%);
  > .ui-progress-bar {
    background-color: $brand-success;
  }
}

.progress-bar-background.warning {
  background-color: lighten($brand-warning, 15%);
  > .ui-progress-bar {
    background-color: $brand-warning;
  }
}

.progress-bar-background.danger {
  background-color: lighten($brand-danger, 15%);
  > .ui-progress-bar {
    background-color: $brand-danger;
  }
}

.progress-bar-background.info {
  background-color: lighten($brand-info, 15%);
  > .ui-progress-bar {
    background-color: $brand-info;
  }
}

.ui-progress-bar {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
}

.form-group .progress {
  margin-bottom: 0px;
}

.password-verdict {
  float: right;
  font-size: 12px;
  margin-top: -20px;
  margin-right: 10px;
}

// Default BS progress bar override

.bs-override.progress {
  position: relative;
  margin-bottom: 0px;
  .progress-title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    z-index: 3;
    font-size: 14px;
    height: 100%;
    line-height: 22px;
  }
}

.bs-override.progress {
  &.progress-primary {
    background-color: lighten($brand-primary, 25%);
  }
  &.progress-success {
    background-color: lighten($brand-success, 25%);
  }
  &.progress-danger {
    background-color: lighten($brand-danger, 25%);
  }
  &.progress-warning {
    background-color: lighten($brand-warning, 25%);
  }
  &.progress-info {
    background-color: lighten($brand-info, 25%);
  }
}

// Radial progress bar

.pie_progress {
  width: 120px;
  margin: 10px auto;
}

@media all and (max-width: 768px) {
  .pie_progress {
    width: 80%;
    max-width: 300px;
  }
}

.pie_progress__number {
  font-size: 38px;
  font-family: 'IBM Plex Sans Condensed';
}

// *****************************************************************************
// Loading screen
// *****************************************************************************

.loading-backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5050;
}

// Hexagon loader
.loading-backdrop {
  .hexagon {
    overflow: hidden;
    visibility: hidden;
    @include prefix(transform, rotate(30deg), webkit moz ms o);
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    opacity: 0.8;
    width: 300px;
    height: 150px;
  }
  .hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include prefix(transform, rotate(-60deg), webkit moz ms o);
  }
  .hexagon-in2 {
    width: 100%;
    background: linear-gradient(rgba(220, 45, 65, .2), rgba(220, 45, 65, 0.2)), url("/static/img/triangles.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    @include prefix(transform, rotate(-60deg), webkit moz ms o);
  }
}

// Simple loader
.loading-backdrop {
  .bouncer {
    width: 100px;
    height: 100px;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-image:
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary),
      linear-gradient($brand-primary, $brand-primary);
    background-position:
      calc(50% - 30px) 50%,
      calc(50% - 20px) 50%,
      calc(50% - 10px) 50%,
      50% 50%,
      calc(50% + 10px) 50%,
      calc(50% + 20px) 50%,
      calc(50% + 30px) 50%;
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
    background-repeat: no-repeat;
    animation: l-bars 1s linear infinite alternate;
  }
}

@keyframes l-bars {
  0% {
    background-size:
      5px 30px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
  }
  16.6% {
    background-size:
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
  }
  33.2% {
    background-size:
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px;
  }
  49.8% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px,
      5px 10px;
  }
  66.4% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px,
      5px 10px;
  }
  83% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px,
      5px 10px;
  }
  100% {
    background-size:
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 10px,
      5px 40px;
  }
}

// *****************************************************************************
// Addon grid
// *****************************************************************************

.grid {
  margin-bottom: 40px;
  overflow: hidden;
}

.filter-box {
  padding: 10px 0px;
  margin-bottom: 10px;
}

.addon-item {
  position: relative;
  float: left;
  padding: 20px;
  width: 205px;
  border: 1px solid #f5f5f5;
  margin-left: 10px;
  margin-bottom: 10px;
  &:hover,
  &:focus,
  &:active {
    border-color: $brand-primary;
    text-decoration: none;
    span {
      color: $brand-primary;
    }
  }
}

.item-icon {
  width: 140px;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
}

.item-label {
  padding-top: 10px;
  text-align: center;
}

// *****************************************************************************
// Buttons
// *****************************************************************************

.btn {
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 4px;
}

.btn-default {
  @include mirantis-button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include mirantis-button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include mirantis-button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include mirantis-button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include mirantis-button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include mirantis-button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

//*****************************************************************************
//SweetAlert
//*****************************************************************************

.swal-modal {
  width: 578px;
}
.swal-title {
  margin: 0px;
  font-size: 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}
.swal-button:focus{
  box-shadow:none;
}

// *****************************************************************************
// Ribbon
// *****************************************************************************

.corner-ribbon {
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  z-index: 5000;
  @include prefix(transform, rotate(-45deg), webkit);
  font-family: "Exo 2";
  font-size: 20px;
  text-transform: uppercase;
  // Variants
  &.sticky {
    position: fixed;
  }
  &.shadow {
    @include prefix(box-shadow, 0 0 3px rgba(0,0,0,.3), webkit moz);
  }
  // Positions
  &.top-left {
    top: 25px;
    left: -50px;
    @include prefix(transform, rotate(-45deg), webkit);
  }
  &.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    @include prefix(transform, rotate(-45deg), webkit);
  }
  &.bottom-left {
    top: auto;
    bottom: 25px;
    left: -50px;
    @include prefix(transform, rotate(-45deg), webkit);
  }
  &.bottom-right {
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    @include prefix(transform, rotate(-45deg), webkit);
  }
  // Colors
  &.white { 
    background: #f0f0f0;
    color: #555;
  }
  &.black {
    background: #333;
  }
  &.blue {
    background: $mira-blue;
  }
  &.green {
    background: $mira-teal;
  }
  &.purple {
    background: $mira-purple;
  }
  &.red {
    background: $mira-red;
  }
  &.orange {
    background: $mira-orange;
  }
}

// *****************************************************************************
// Provisioning loader
// *****************************************************************************

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-icon {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 0.25rem solid #ddd;
  border-top-color: #004d99;
  display: inline-block;
  margin: 0 3px;
  @include prefix(animation-name, spin, webkit moz o);  
  @include prefix(animation-duration, 1s, webkit moz o);  
  @include prefix(animation-iteration-count, infinite, webkit moz o);  
  @include prefix(animation-timing-function, cubic-bezier(0.5, -0.35, 0.5, 1.35), webkit moz o);
}

// *****************************************************************************
// Breadcrumb
// *****************************************************************************

.breadcrumb-container {
  margin-bottom: 30px;
  background-color: $mira-gray-neutral;
  ol.breadcrumb {
    margin-bottom: 0px;
  }
  .breadcrumb {
    background-color: transparent;
    > li + li::before {
      content: "\F142";
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $base-text;
    }
  }
  .breadcrumb-item a {
    color: $base-text;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
  .active {
    color: #636E72 !important;
  }
}

// *****************************************************************************
// Manager
// *****************************************************************************

.bp-manager {
  .navbar-inverse {
    background-color: $mira-red-dark;
    border-color: $mira-red-dark;
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
      color: #fff;
      background-color: $mira-red;
    }
    .navbar-nav > li .dropdown-menu {
      background-color: $mira-red;
      > li > a:hover,
      > li > a:focus,
      > li > a:active {
        background-color: $mira-red-dark;
      }
    }
    .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
      background-color: $mira-red;
    }
    .navbar-brand > span::after {
      content: ' SuperAdmin';
    }
  }
  .breadcrumb-container {
    background-color: $mira-red;
  }
}
