{% from "ui/partial/form.html" import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>KQueen</title>

    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    {% include "ui/partial/favicon.html" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.min.css') }}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bp-{{ request.blueprint }}">
    <div class="corner-ribbon top-left sticky red shadow">Beta</div>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if request.blueprint == 'manager' %}
            {% set home_url = url_for('manager.overview') %}
          {% else %}
            {% set home_url = url_for('ui.index') %}
          {% endif %}
          <a class="navbar-brand" href="{{ home_url }}" target="_self"><img class="mirantis-logo" src="{{ url_for('static', filename='img/mirantis-logo-vertical.png') }}" alt="Mirantis"><span>KQueen</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include "ui/partial/menu.html" %}
        </div>
      </div>
    </nav>

    <input id="BaseURI" type="hidden" value="/">
    <div id="flash-container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-{{ category }} fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="mdi"></i>
        <span>{{ message }}</span>
      </div>
    {% endfor %}
    </div>

    <div id="content">
      <div class="container">
        <div class="page-header">
          <h2>{% block page_header %}{% endblock %}</h2>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block modals %}{% endblock %}

    <script src="{{ url_for('static', filename='js/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    
    {% block extrajs %}{% endblock %}
    <script>
    $(document).ready(function(){
      $('.confirm-delete').click(function(ev){
        ev.preventDefault();
        var $this = $( this )
         ,  questionText = 'Press OK to permanently delete ' + $this.data('name') + '?'
         ,  href = $this.data('target')
         ;
        swal({
          title: 'Are you sure?',
          text: questionText,
          icon: 'warning',
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            window.location.replace(href);
          }
        });
      });
    });
    </script>

    {# START PRELOADER #}
    <div class="loading-backdrop" style="display: none;">
    {% if config.PRELOADER == 'simple' %}
      {% include "ui/partial/simpleload.html" %}
    {% elif config.PRELOADER == 'hexagon' %}
      <script src="{{ url_for('static', filename='js/particles.min.js') }}"></script>
      {% include "ui/partial/hexaload.html" %}
    {% endif %}
    </div>

    <script>
      $(window).bind('beforeunload', function(){
        setTimeout(function(){
          $('body').css('overflow', 'hidden');
          $('.loading-backdrop').css('display', 'initial');
          {% if config.PRELOADER == 'hexagon' %}
          particlesJS.load('particles', "{{ url_for('static', filename='js/particles.json') }}");
          {% endif %}
        }, 200);
      });
    </script>
    {# END PRELOADER #}

    {#
    {% include "ui/partial/footer.html" %}
    #}
  </body>
</html>
