{% extends "ui/base.html" %}
{% from "ui/partial/tableaction.html" import render_cluster_table_actions, render_provisioner_table_actions, render_provisioner_row_actions with context %}
{% from "ui/partial/_cluster_row.html" import render_cluster_row with context %}
{% from "ui/partial/_overview_pies.html" import render_overview_pies with context %}

{% block page_header %}Overview{% endblock %}

{% block content %}
{{ render_overview_pies(overview) }}

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a data-toggle="tab" href="#clusters" data-tabcode="#clustersTab">
      Clusters
    </a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="#provisioners" data-tabcode="#provisionersTab">
      Provisioners
    </a>
  </li>
</ul>

<div class="tab-content dashboard-tab clearfix">
  {# CLUSTERS TAB #}
  <div class="tab-pane active" id="clusters">
    <div class="table-container clearfix">
      <div class="row">
        <div class="col-xs-8">
          <h3>Running Clusters</h3>
        </div>
        <div class="col-xs-4">
          <div class="table-actions">
            {{ render_cluster_table_actions(provisioners|healthy_provisioners) }}
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <th class="table-col-4">Name</th>
          <th class="table-col-4">Provisioner</th>
          <th class="table-col-4">Created</th>
          <th class="status_column">Status</th>
          <th class="action_column">Actions</th>
        </thead>
        <tbody>
          {% for cluster in clusters %}
            {{ render_cluster_row(cluster, loop.index) }}
          {% else %}
            <tr class="not-event-pointer"><td colspan="5" class="text-center">No Items</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {# PROVISIONERS TAB #}
  <div class="tab-pane" id="provisioners">
    <div class="table-container">
      <div class="row">
        <div class="col-xs-8">
          <h3>Available Provisioners</h3>
        </div>
        <div class="col-xs-4">
          <div class="table-actions">
            {{ render_provisioner_table_actions() }}
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <th class="table-col-4">Name</th>
          <th class="table-col-4">Engine</th>
          <th class="table-col-4">Created</th>
          <th class="status_column">Status</th>
          <th class="action_column">Actions</th>
        </thead>
        <tbody>
          {% for provisioner in provisioners %}
            <tr>
              <td class="table-col-4">{{ provisioner.name }}</td>
              <td class="table-col-4">{{ provisioner.verbose_name }}</td>
              <td class="table-col-4">{{ provisioner.created_at }}</td>
              <td class="status_column"><i class="mdi {{ provisioner.state|provisioner_status_icon_class }}" title="{{ provisioner.state }}"></i></td>
              <td class="action_column">
                {% if provisioner.parameters %}
                <a
                  data-toggle="collapse"
                  data-target="#provisioner-{{ loop.index }}"
                  title="More information"
                >
                  <i class="mdi mdi-information-outline"></i>
                </a>
                {% endif %}
                {{ render_provisioner_row_actions(provisioner) }}
              </td>
            </tr>
            {% if provisioner.parameters %}
            <tr>
              <td colspan="5" class="meta-params">
                <div id="provisioner-{{ loop.index }}" class="collapse">
                  <table class="table table-hover no-actions" id="table-provisionerparams">
                    <tbody>
                      {% for key, value in provisioner.parameters.items() %}
                      <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
            {% endif %}
          {% else %}
            <tr class="not-event-pointer"><td colspan="5" class="text-center">No Items</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
function setupPieProgress(){
  $('.pie_progress_static').asPieProgress({
    namespace: 'pieProgress',
    barsize: '5',
    size: '110',
    trackcolor: '#ececea',
    barcolor: '#83d3c8',
    numberCallback(n) {
      return n;
    }
  });
  $('.pie_progress_percentage').asPieProgress({
    namespace: 'pieProgress',
    barsize: '5',
    size: '110',
    trackcolor: '#ececea',
    barcolor: '#83d3c8'
  });
}
function initPieProgress(){
  setupPieProgress();
  $('.pie_progress').asPieProgress('start');
}
function reinitPieProgress(){
  $('.pie_progress').asPieProgress('destroy');
  $('.pie_progress .pie_progress__svg').remove();
  setupPieProgress();
  $('.pie_progress').asPieProgress('start');
}
jQuery(document).ready(function($){
  initPieProgress();
  $('.pie_progress').asPieProgress('start');
});

setInterval(function(){
  $('table > tbody > tr.in-transition').each(function(){
    var row = $(this),
        href = row.data('href'),
        index = row.data('index'),
        state = row.data('status'),
        metaRow = $('table > tbody > tr#metadata-cluster-' + index);

    $.get(href, function(data){
      if( data.response == 200 && data.cluster_status != state ){
        if( metaRow ) {
          metaRow.remove();
        }
        row.replaceWith(data.cluster_row);
        console.log('Cluster row updated.');

        $.get('{{ url_for("ui.overview_pies") }}', function(data){
          if( data.response == 200 ){
            $('.overview').replaceWith(data.overview_pies);
            reinitPieProgress();
          }
        });
        console.log('Overview pies updated.');
      }
    });
  });
}, 15000);

$(document).ready(function() {
  $('tr.clickable').click(function(e) {
    if (e.target.tagName === 'TD') {
      var link = $(this).data('href');
      if (link) window.location = link;
    }
  });
});
</script>
{% endblock %}
