{% extends "ui/base.html" %}
{% from "ui/partial/tableaction.html" import render_cluster_table_actions, render_provisioner_table_actions with context %}
{% from "ui/partial/_overview_pies.html" import render_overview_pies with context %}
{% from "ui/partial/pagination.html" import render_pagination with context %}

{% block page_header %}Overview{% endblock %}

{% block content %}
{{ render_overview_pies(overview) }}

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a data-toggle="tab" href="#clusters" data-tabcode="#clustersTab">
      Clusters
    </a>
  </li>
  <li role="presentation">
    <a data-toggle="tab" href="#provisioners" data-tabcode="#provisionersTab">
      Provisioners
    </a>
  </li>
</ul>

<div class="tab-content dashboard-tab clearfix">
  {# CLUSTERS TAB #}
  <div class="tab-pane active" id="clusters">
    <div class="table-container clearfix">
      <div class="row">
        <div class="col-xs-8">
          <h3>Running Clusters</h3>
        </div>
        <div class="col-xs-4">
          <div class="table-actions">
            <a
              class="btn btn-danger btn-sm hidden confirm-delete bulk-delete-clusters"
              title="Delete cluster"
            >
              <i class="mdi mdi-delete-forever"></i> Delete
            </a>
            {{ render_cluster_table_actions() }}
          </div>
        </div>
      </div>
      <div id="clustersTable">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th class="col-md-4">Name</th>
              <th class="col-md-4">Provisioner</th>
              <th class="col-md-4">Created</th>
              <th class="status_column">Status</th>
              <th class="action_column">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="not-event-pointer">
              <td colspan="6" class="text-center">
                <div class="icon-container">
                  <div class="loading-icon"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {# PROVISIONERS TAB #}
  <div class="tab-pane" id="provisioners">
    <div class="table-container">
      <div class="row">
        <div class="col-xs-8">
          <h3>Available Provisioners</h3>
        </div>
        <div class="col-xs-4">
          <div class="table-actions">
            <a
              class="btn btn-danger btn-sm hidden confirm-delete bulk-delete-provisioners"
              title="Delete provisioner"
            >
              <i class="mdi mdi-delete-forever"></i> Delete
            </a>
            {{ render_provisioner_table_actions() }}
          </div>
        </div>
      </div>
      <div id="provisionersTable">
        <table class="table table-hover">
          <tr class="not-event-pointer">
            <td colspan="6" class="text-center">
              <div class="icon-container">
                <div class="loading-icon"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
  var queryParams = {
    cluster_page: 1, provisioner_page: 1,
    sort_clusters_by: 'created', clusters_order: 'asc',
    sort_provisioners_by: 'created', provisioners_order: 'asc',
    ...getQueryParameters()
  };

  function updatePageParam(targetName, value) {
    queryParams[`${targetName}_page`] = value;
    loadPage(targetName);
  }

  function updateFilterParam(targetName, params) {
    queryParams = {...queryParams, ...params, [`${targetName}_page`]: 1};
    loadPage(targetName);
  }

  function updateSortingParam(targetName, value, order) {
    queryParams = {
      ...queryParams,
      [`sort_${targetName}s_by`]: value,
      [`${targetName}s_order`]: order
    };
    loadPage(targetName);
  }

  var pageLoadOptions = {
    cluster: {
      targetToUpdate: '#clustersTable',
      urlPrefix: '/ui/clusters/page/',
      pageParamKey: 'cluster_page',
      filtersParamKeys: ['cluster_name', 'cluster_provisioner'],
      sortingParamKey: 'sort_clusters_by',
      sortingParamOrder: 'clusters_order'
    },
    provisioner: {
      targetToUpdate: '#provisionersTable',
      urlPrefix: '/ui/provisioners/page/',
      pageParamKey: 'provisioner_page',
      filtersParamKeys: ['provisioner_name', 'provisioner_engine'],
      sortingParamKey: 'sort_provisioners_by',
      sortingParamOrder: 'provisioners_order'
    }
  }

  function setUpFilters() {
    $(document).on('click', '.filter-button', function(e) {
      e.preventDefault();

      // Get and apply filter values
      var filterForm = $(this).parents('.filter-form');
      var data = filterForm.serializeArray().reduce((obj, item) => (
        {...obj, [item.name]: item.value}
      ), {});
      updateFilterParam(filterForm.attr('name').split('_')[0], data);
    });
  };

  function handleError(tableSelector, errorDetails) {
    var error = `
      <tbody>
        <tr>
          <td colspan='6' class='text-center' title='${errorDetails}'>
            <i class='mdi mdi-alert-circle-outline'></i>
            Error occurred while loading the content
          </td>
        </tr>
      </tbody>
    `;
    $(tableSelector + ' table').addClass('table-error');
    $(tableSelector + ' table').removeClass('updating');
    $(tableSelector + ' tbody').replaceWith(error);
  }

  function loadPage(target) {
    setQueryParameters(queryParams);
    $(`a.bulk-delete-${target}s`).addClass('hidden');

    var options = pageLoadOptions[target];
    if (!options) {
      return;
    }
    var {urlPrefix, targetToUpdate, pageParamKey, filtersParamKeys, sortingParamKey,
         sortingParamOrder} = options;

    $(targetToUpdate + ' table').addClass('updating');

    var additionalQueryString = serializeToQueryString(
      filtersParamKeys.concat([sortingParamKey, sortingParamOrder]).reduce(
        (result, filterKey) => ({...result, [filterKey]: queryParams[filterKey]}), {}
      )
    );
    var url = urlPrefix + queryParams[pageParamKey] + additionalQueryString;

    $.get(url, function(data) {
      if (data.response === 200) {
        $(targetToUpdate).replaceWith(
          data.body.replace(/js-replace-datetime\(([^)]+)\)/g, (_, date) => formatDate(date))
        );
        if (data.allowClusterDeploy) {
          $('#clusterCreateButton').removeClass('disabled');
        } else {
          $('#clusterCreateButton').addClass('disabled');
        }
      } else if (data.session_expired) {
        window.location.replace(`/ui/login?next=${encodeURIComponent(window.location.href)}`);
      } else {
        handleError(targetToUpdate, data.body);
      }
    }).fail(function() {
      handleError(targetToUpdate, 'Unexpected error occurred');
    }).always(function() {
      handleFilterView(filtersParamKeys, queryParams);
      handleSortingView(target, sortingParamKey, sortingParamOrder, queryParams);
    });
  }

  $(document).ready(function() {
    loadPage('cluster');
    loadPage('provisioner');

    handlePopoverDisplaying();
    setUpFilters();
    setUpSorting();
  });
</script>

<script>
function setupPieProgress(){
  $('.pie_progress_static').asPieProgress({
    namespace: 'pieProgress',
    barsize: '5',
    size: '110',
    trackcolor: '#ececea',
    barcolor: '#83d3c8',
    numberCallback(n) {
      return n;
    }
  });
  $('.pie_progress_percentage').asPieProgress({
    namespace: 'pieProgress',
    barsize: '5',
    size: '110',
    trackcolor: '#ececea',
    barcolor: '#83d3c8'
  });
}
function initPieProgress(){
  setupPieProgress();
  $('.pie_progress').asPieProgress('start');
}
function reinitPieProgress(){
  $('.pie_progress').asPieProgress('destroy');
  $('.pie_progress .pie_progress__svg').remove();
  setupPieProgress();
  $('.pie_progress').asPieProgress('start');
}
jQuery(document).ready(function($){
  initPieProgress();
  $('.pie_progress').asPieProgress('start');
});

setInterval(function(){
  $('table > tbody > tr.in-transition').each(function(){
    var row = $(this),
        href = row.data('href'),
        index = row.data('index'),
        state = row.data('status'),
        metaRow = $('table > tbody > tr#metadata-cluster-' + index);

    $.get(href, function(data){
      if( data.response == 200 && data.cluster_status != state ){
        if( metaRow ) {
          metaRow.remove();
        }
        row.replaceWith(data.cluster_row);
        console.log('Cluster row updated.');

        $.get('{{ url_for("ui.overview_pies") }}', function(data){
          if( data.response == 200 ){
            $('.overview').replaceWith(data.overview_pies);
            reinitPieProgress();
          }
        });
        console.log('Overview pies updated.');
      }
    });
  });
}, 15000);
</script>
{% endblock %}
