{% extends "ui/base.html" %}
{% from "ui/partial/modal.html" import render_delete_modal %}

{% block page_header %}Overview{% endblock %}

{% block content %}
<div class="overview">
  <div class="col-sm-3 clearfix">
    <div class="pie_progress_static" role="progressbar" data-goal="{{ overview.cluster_count }}" aria-valuemax="{{ overview.cluster_count }}"> 
      <div class="pie_progress__number"></div>
      <div class="pie_progress__label">Clusters</div>
    </div>
  </div>
  <div class="col-sm-3 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ overview.cluster_health }}"{% if overview.cluster_health < 100 %} data-barcolor="#e02d3a"{% endif %}> 
      <div class="pie_progress__number"></div>
      <div class="pie_progress__label">Cluster Health</div>
    </div>
  </div>
  <div class="col-sm-3 clearfix">
    <div class="pie_progress_static" role="progressbar" data-goal="{{ overview.provisioner_count }}" aria-valuemax="{{ overview.provisioner_count }}">
      <div class="pie_progress__number"></div>
      <div class="pie_progress__label">Provisioners</div>
    </div>
  </div>
  <div class="col-sm-3 clearfix">
    <div class="pie_progress" role="progressbar" data-goal="{{ overview.provisioner_health }}"{% if overview.provisioner_health < 100 %} data-barcolor="#e02d3a"{% endif %}> 
      <div class="pie_progress__number"></div>
      <div class="pie_progress__label" style="line-height: 1.1; margin-top: 36px;">Provisioner<br>Health</div>
    </div>
  </div>
</div>

<h3>Running clusters</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.cluster_create') }}" role="button" class="btn btn-primary btn-sm">Deploy cluster</a>
  </div>
  <table class="table table-hover">
    <thead>
      <th class="table-col-3">Name</th>
      <th class="table-col-3">Provisioner</th>
      <th class="table-col-3">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for cluster in clusters %}
        <tr>
          <td class="table-col-3">{{ cluster.name }}</td>
          <td class="table-col-3">{{ cluster.provisioner.name }}</td>
          <td class="table-col-3">{{ cluster.created_at }}</td>
          <td class="status_column"><i class="mdi {{ cluster.state|cluster_status_icon_class }}" title="{{ cluster.state }}"></i></td>
          <td class="action_column">
            <a href="{{ url_for('ui.cluster_detail', cluster_id=cluster.id) }}" title="Cluster detail">
              <i class="mdi mdi-magnify"></i>
            </a>
            <a data-toggle="modal" data-target="#delete-{{ cluster.id }}"{% if cluster.state != config.CLUSTER_OK_STATE %} class="disabled"{% endif %} title="Delete cluster">
              <i class="mdi mdi-delete-forever"></i>
            </a>
          </td>
        </tr>
      {% else %}
        <tr style="pointer-events: none;"><td colspan="5" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>Available provisioners</h3>

<div class="table-container">
  <div class="table-actions">
    <a href="{{ url_for('ui.provisioner_create') }}" role="button" class="btn btn-primary btn-sm">Create provisioner</a>
  </div>
  <table class="table table-hover">
    <thead>
      <th class="table-col-3">Name</th>
      <th class="table-col-3">Engine</th>
      <th class="table-col-3">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for provisioner in provisioners %}
        <tr>
          <td class="table-col-3">{{ provisioner.name }}</td>
          <td class="table-col-3">{{ provisioner.engine_name }}</td>
          <td class="table-col-3">{{ provisioner.created_at }}</td>
          <td class="status_column"><i class="mdi {{ provisioner.state|provisioner_status_icon_class }}" title="{{ provisioner.state }}"></i></td>
          <td class="action_column">
            <a data-toggle="modal" data-target="#delete-{{ provisioner.id }}" title="Delete provisioner">
              <i class="mdi mdi-delete-forever"></i>
            </a>
          </td>
        </tr>
      {% else %}
        <tr style="pointer-events: none;"><td colspan="5" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block modals %}

{% for cluster in clusters %}
  {% if cluster.state == config.CLUSTER_OK_STATE %}
  {{ render_delete_modal(resource=cluster, resource_name='cluster') }}
  {% endif %}
{% endfor %}

{% for provisioner in provisioners %}
  {{ render_delete_modal(resource=provisioner, resource_name='provisioner') }}
{% endfor %}

{% endblock %}

{% block extrajs %}
<script>
jQuery(document).ready(function($){
  $('.pie_progress_static').asPieProgress({
    namespace: 'pieProgress',
    barsize: '2',
    size: '120',
    trackcolor: '#ececea',
    barcolor: '#83d3c8',
    numberCallback(n) {
      return n;
    }
  });
  $('.pie_progress').asPieProgress('start');
});
jQuery(document).ready(function($){
  $('.pie_progress').asPieProgress({
    namespace: 'pieProgress',
    barsize: '2',
    size: '120',
    trackcolor: '#ececea',
    barcolor: '#83d3c8'
  });
  $('.pie_progress').asPieProgress('start');
});
</script>
{% endblock %}
