{% extends "ui/base.html" %}
{% from "ui/partial/tableaction.html" import render_member_table_actions, render_member_row_actions with context %}

{% block page_header %}Manage {{ organization.name }}{% endblock %}

{% block breadcrumb %}<li class="breadcrumb-item active">Manage {{ organization.name }}</li>{% endblock %}

{% block content %}
<h3>Members</h3>

<div class="table-container">
  <div class="table-actions">
    {{ render_member_table_actions() }}
  </div>
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">E-mail</th>
      <th class="col-md-2">Role</th>
      <th class="col-md-4">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td class="col-md-3">{{ member.username }}</td>
          <td class="col-md-3">{{ member.email }}</td>
          <td class="col-md-2">{{ member.role }}</td>
          <td class="col-md-4">{{ member.created_at }}</td>
          <td class="status_column"><i class="mdi {{ member.state|user_status_icon_class }}" title="{{ member.state }}"></i></td>
          <td class="action_column">
            {{ render_member_row_actions(member, current_user_id) }}
          </td>
        </tr>
      {% else %}
        <tr class="not-event-pointer"><td colspan="6" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
