{% extends "ui/base.html" %}
{% from "ui/partial/selectform.html" import render_selectform %}

{% block page_header %}Invite Member{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
  <a href="{{ url_for('ui.organization_manage', organization_id=session.user.organization.id) }}">
    Manage {{ session.user.organization.name }}
  </a>
</li>
<li class="breadcrumb-item active">Invite Member</li>
{% endblock %}

{% block content %}
<div class="box">
  {{ render_selectform(form) }}
</div>
{% endblock %}

