{% extends "ui/email/base.html" %}

{% block content %}
<p class="normal-text">Hi there,</p>
<p class="normal-text">
  you were invited to organization {{ organization }} in KQueen OpenKaaS application.
  Set your password by clicking on the link below.
</p>
<center><p class="normal-text centered">Username: {{ username }}</p></center>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary email-table">
  <tbody>
    <tr>
      <td align="center" class="email-table-content">
        <table border="0" cellpadding="0" cellspacing="0" class="manage-password">
          <tbody>
            <tr>
              <td class="manage-password-content">
                <a
                  href="{{ base_url }}{{ url_for('ui.user_set_password', token=token) }}"
                  target="_blank"
                >
                  Set password
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
