{% from "ui/partial/pagination.html" import render_pagination with context %}
{% from "ui/partial/_column_operations.html" import render_column_filter, render_column_sorting with context %}

<div class="table-container no-actions" id="clustersTable">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="organization_column">Organization</th>
        <th class="name_column filterable-column sortable-column">
          {{ render_column_filter("Name", "cluster_name") }}
          {{ render_column_sorting("cluster_name") }}
        </th>
        <th class="provisioner_manager_column filterable-column sortable-column">
          {{ render_column_filter("Provisioner", "cluster_provisioner") }}
          {{ render_column_sorting("cluster_provisioner") }}
        </th>
        <th class="created_column sortable-column">
          Created
          {{ render_column_sorting("cluster_created") }}
        </th>
        <th class="status_column sortable-column">
          Status
          {{ render_column_sorting("cluster_status") }}
        </th>
        <th class="action_column">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for cluster in clusters %}
        <tr {% if cluster.state in config.CLUSTER_TRANSIENT_STATES %} class="in-transition"{% endif %}>
          <td class="organization_column">{{ cluster.owner.organization.name }}</td>
          <td class="name_column">{{ cluster.name }}</td>
          <td class="provisioner_manager_column">{{ cluster.provisioner.name }}</td>
          <td class="created_column">js-replace-datetime({{ cluster.created_at }})</td>
          <td class="status_column">
            {{ cluster|cluster_status_icon|safe }}
          </td>
          <td class="action_column">
            {% if cluster.metadata %}
            <a
              data-toggle="collapse"
              data-target="#cluster-{{ loop.index }}"
              class="clickable"
              title="More information"
            >
              <i class="mdi mdi-information-outline"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% if cluster.metadata %}
        <tr id="metadata-cluster-{{ loop.index }}">
          <td colspan="5" class="meta-params">
            <div id="cluster-{{ loop.index }}" class="collapse">
              <table class="table table-hover no-actions" id="table-clustermeta">
                <tbody>
                  {% for key, value in cluster.metadata.items() %}
                  <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
      {% else %}
        <tr class="not-event-pointer"><td colspan="6" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
  {% if cluster_pages > 1 %}
    {{ render_pagination("cluster", current_cluster_page, cluster_pages, "Clusters") }}
  {% endif %}
</div>
