{% from "ui/partial/pagination.html" import render_pagination with context %}

<div class="table-container no-actions" id="tableProvisioners">
  <table class="table table-hover">
    <thead>
      <th class="col-md-3">Organization</th>
      <th class="col-md-3">Name</th>
      <th class="col-md-3">Engine</th>
      <th class="col-md-3">Created</th>
      <th class="status_column">Status</th>
      <th class="action_column">Actions</th>
    </thead>
    <tbody>
      {% for provisioner in provisioners %}
        <tr>
          <td class="col-md-3">{{ provisioner.owner.organization.name }}</td>
          <td class="col-md-3">{{ provisioner.name }}</td>
          <td class="col-md-3">{{ provisioner.verbose_name }}</td>
          <td class="col-md-3">{{ provisioner.created_at }}</td>
          <td class="status_column"><i class="mdi {{ provisioner.state|provisioner_status_icon_class }}" title="{{ provisioner.state }}"></i></td>
          <td class="action_column">
            {% if provisioner.parameters %}
            <a
              data-toggle="collapse"
              data-target="#provisioner-{{ loop.index }}"
              class="clickable"
              title="More information"
            >
              <i class="mdi mdi-information-outline"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% if provisioner.parameters %}
        <tr>
          <td colspan="5" class="meta-params">
            <div id="provisioner-{{ loop.index }}" class="collapse">
              <table class="table table-hover no-actions" id="table-provisionerparams">
                <tbody>
                  {% for key, value in provisioner.parameters.items() %}
                  <tr>
                    <th class="col-md-8">{{ key }}</th>
                    <td class="col-md-4">{{ value }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        {% endif %}
      {% else %}
        <tr class="not-event-pointer"><td colspan="6" class="text-center">No Items</td></tr>
      {% endfor %}
    </tbody>
  </table>
  {% if provisioner_pages > 1 %}
    {{ render_pagination("manager.overview", current_provisioner_page, provisioner_pages,
                         "Provisioners", "tableProvisioners") }}
  {% endif %}
</div>
