{% extends "ui/email/base.html" %}

{% block content %}
<p class="normal-text">Hi there,</p>
<p class="normal-text">
  click the link provided in this email message to finish verifying your email address.
</p>
<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary email-table">
  <tbody>
    <tr>
      <td align="center" class="email-table-content">
        <table border="0" cellpadding="0" cellspacing="0" class="manage-password">
          <tbody>
            <tr>
              <td class="manage-password-content">
                <a
                  href="{{ base_url }}{{ url_for('registration.verify_email', token=token) }}"
                  target="_blank"
                >
                  Verify e-mail address
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
